@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
#app{
    width: 400px;
    height: 100vh;
    padding: 1rem;
    align-items: center;
    background: #242424;
    position: relative;
}
#section-notes{
    height: 100%;
    width: 100%;
    
}
.notes_header{
    width:400px;
    position: fixed;
    top: 0;
    padding-top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background: #242424;
}
.notes_header h2{
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0 5px;
    font-family: 'Carter One', cursive;
}
.notes_header input{
    padding: 0.5rem;
    border: none;
}
.notes_header .btn{
   background: #999;
   padding: 0 0.5rem;
   border-radius: 5px;
   border: none;
   outline: none;
   font-size: 1.6rem;
   color: white;
}
.notes_header input:focus{
    outline: none;
    border: none;
}
.notes_container{
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns:minmax(150px, 1fr) minmax(150px, 1fr);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 300px;
    height: 100%;
}

.note{
    padding:2rem 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    flex-wrap:wrap;
    height: max-content;
}
.note:nth-child(5n+3){
    background: dimgray;
}
.note:nth-child(5n+2){
    background: cadetblue;
}
.note:nth-child(5n+1){
    background: darkblue;
}
.note:nth-child(5n+0){
    background: darkcyan;
}
.note:nth-child(5n+4){
    background: indigo;
}
.note h4{
    width: 100%;
    word-wrap: break-word;
}
.btn.add_btn{
    padding: 0.5rem;
    font-size: 1.5rem;
    bottom: 6%;
    right: 2rem;
    background: #999;
    border-radius: 4px;
    color: purple;
    position: fixed;
    bottom: 20px;
    right: 40%;
    transform: translateX(-50%);
}
.create-note_header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 2rem;
}
.create-note_header .primary{
    padding:0 1rem;
    font-size: 1.5rem;
    color: white;
    background: darkgreen;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
}
.danger{
    padding:0 1rem;
    font-size: 1.5rem;
    color: white;
    background: darkred;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
}
.primary:focus,.create-note_form input:focus, textarea:focus{
    outline: none;
    border: none;
}
.create-note_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
.create-note_form input, textarea{
    color: #eee;
    background: #212121;
    border: none;
    padding: 1rem;
    border-bottom: 1px solid gray;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px){
    #app{
        width: 100vw;
        height: 100vh;
        padding: 2rem 1rem;
        
    }
    .notes_header{
        top: 0;
    }
    .notes_container{
        margin-top: 5rem;
        gap: 1rem;
    }
    .btn.add_btn{
        padding: 0.5rem;
        font-size: 1.5rem;
        bottom: 6%;
        right: 2rem;
    }
}
